
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div id="fullframe"> 
        <img src="~/Content/intro.png">
    </div>
</body>
</html>
