@model IEnumerable<WebPortfolio.Models.ArtWorkModel>

<h1>Портфолио</h1>
<div class="works">
@foreach (var item in Model) {
    <div class="work">
        <p>@Html.DisplayFor(modelItem => item.Category)</p>
       
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
        
            <img class="img" width="500" src="@Url.Action("ShowImg", "Modify", new { id = item.Id, idSlide = item.Images[0].IdOwn })" />
        
    
        
            @for (int i = 0; i < item.Images.Count; i++ )
            {
                
            <img class="img-thumbnail" width="150"
                         src="@Url.Action("ShowImg", "Modify",
                        new { id = item.Id, idSlide = item.Images[i].IdOwn })" />
                
                   
            }
        
   <hr />
        </div>
    
    
}
    
</div>
<div id="more"><button>MORE</button></div>


