@model WebPortfolio.Models.ArticleModel

<div>
    <h4>ArticleModel</h4>
	<hr />
    <dl class="dl-horizontal">
        
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        
         
    </dl>
</div>
<p>
    Если данные видны, статья добавлена
</p>
